{% load static %}
<link href="{% static 'css/footer.css' %}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<body>
  <!-- Footer -->
  <footer class="footer mt-auto py-3 bg-black text-white">
    <div class="container text-center">
      <section class="mb-4">
        <!-- Section: Social media -->
        <!-- Add social media links here if needed -->
      </section>
      
      <!-- Section: Links -->
      <section class="mb-4">
        <div class="container text-center text-md-start">
          <div class="row mt-3">
            <!-- Products Column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Products</h6>
              <p><a href="#!" class="text-reset">Angular</a></p>
              <p><a href="#!" class="text-reset">React</a></p>
              <p><a href="#!" class="text-reset">Vue</a></p>
              <p><a href="#!" class="text-reset">Laravel</a></p>
            </div>

            <!-- Useful Links Column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
              <p><a href="#!" class="text-reset">Information Légales</a></p>
              <p><a href="#!" class="text-reset">Settings</a></p>
              <p><a href="#!" class="text-reset">Orders</a></p>
              <p><a href="#!" class="text-reset">Help</a></p>
            </div>

            <!-- Contact Column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> Asbl radio vibration</p>
              <p><i class="fa-solid fa-address-book me-3"></i> Av Brugmann 345 bt14</p>
              <p><i class="fas fa-envelope me-3"></i> simonchevalier.pro@gmail.com</p>
              <p><i class="fas fa-phone me-3"></i> 02 123 45 67</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Vibration.fm</a>
        by Nelson Caterino
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>

</html>
