{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/hamburger.css' %}">
</head>
<body>
    <input type="checkbox" id ="menu-toggle">
      <label for="menu-toggle">
        <div class="icon top"></div>
        <div class="icon mid"></div>
        <div class="icon end"></div>
      </label>
      <div class="menu-slide">
        <ul>
          <li>
            <a href="schedule">Schedule</a>
          </li>
          <li>
            <a href="charts">Charts</a>
          </li>
          <li>
            <a href="teams">Teams</a>
          </li>
          <li>
            <a href="news">News</a>
          </li>
          <li>
            <a href="podcast">Podcast</a>
          </li>
          <li>
            <a href="newevents">New Events</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          <li>
            

   <div class="reseaux">
    <a href="https://www.facebook.com/radiovibration/"><i class="fa-brands fa-facebook fa-lg"  style="color: #ffffff;"></i>
    <a href="/"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i>
    <a href="https://www.youtube.com/@CuePointVibration"><i class="fa-brands fa-youtube fa-lg"  style="color: #ffffff;"></i>
   </div>

   </div>

        </ul>      
      </div>
    <body>